.projects {
    padding: 2vw;    

    .title {
        width: 100%;
        font-size: 6vw;
    }

    .list {
        display: flex;
        flex-wrap: wrap;        
    }

    .project {
        padding: 2rem;
        width: 20vw;
        height: 20vw;
        margin: 2vw;
        display: flex;
        align-items: center;
        justify-content: center;
        cursor: pointer;
        position: relative;
        border-radius: 50%;
        box-shadow: none;
        transition: box-shadow 0.25s ease-in-out;

        &:hover {
            box-shadow: 0px 0px 8px 2px rgba($color: #000000, $alpha: 0.25);
        }
    }

    .svg {
        position: absolute;
        top: 0;
        right: 0;
        bottom: 0;
        left: 0;
        font-size: 0.6rem;
    }

    .link {
        color: inherit;
        text-decoration: none;
    }
}