@mixin link--slide-bottom($color: #fff) {
    padding-bottom: 3px;

    &::after {
        content: "";
        position: absolute;
        bottom: 0;
        left: 0;
        right: 100%;
        background: $color;
        height: 2px;
        transition: right 0.25s ease-in-out;
    }

    &:hover {
        &::after {
            right: 0;
        }
    }
}