@import "../../styles/variables";

@keyframes bounce {
    0% {
        transform: translateY(0);
    }
    50% {
        transform: translateY(25px);
    }
    100% {
        transform: translateY(0);
    }

}

.arrow {
    height: 46px;
    width: 46px;
    align-self: flex-end;
    padding-bottom: 4vw;
    cursor: pointer;

    .svg {
        animation: bounce 1.5s;
        animation-iteration-count: 3;
        transition: transform ease-in-out;
    }

    .line {
        stroke: $accent;
        stroke-width: 2px;
        fill: transparent;
    }
}