@import "../../styles/variables";

.name {
    display: flex;
    flex-direction: column;
    .hello {
        font-size: 1.5vw;
        opacity: 0.7;
        color: $accent;
    }

    .text {
        font-size: 6vw;
    }
}