@import "../../styles/variables";

@mixin margins__title {
    padding: 0 1rem;
}

.intro {
    display: flex;
    padding: 2vw;
    
    .info {
        display: flex;
        flex-direction: column;
        justify-content: space-between;
        @include margins__title();
    }
    
    .subtitle {
        text-transform: uppercase;
        font-size: small;
        opacity: 0.75;   
        color: $accent;    
    }

    .title {
        font-size: 6vw;
        line-height: 134%;       
    }

    .desc {               
    }

    .img {
        max-width: 20vw;
        height: auto;     
        align-self: flex-start;   
    }
}